.thatcoffething
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 0 !important;
    column-gap: 20px;
    row-gap: 20px;
    min-width: 500px;
}
.coffee-button
{
    height: 150px;
    padding: 20px;
    background-color: #f9f5f18e;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}
.coffee-button:hover
{
    background-color: whitesmoke;
    cursor: pointer;
}
.thatcoffethingbutforaddons
{
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 0 !important;
    column-gap: 20px;
    row-gap: 20px;
}
.addon-button
{
  font-size: 12px;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.addon-button:hover
{
      color:  gray;
      cursor: pointer;
}

* {box-sizing: border-box}


body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
  
  height: 584px;
  align-items: center;
  align-content: center;;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;

}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.thatcoffethingbutforaddonsextra
{
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin-top: 0 !important;
    column-gap: 0px;
    row-gap: 0px;
}

.catalog-thing
{
  font-size: 12px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: burlywood;
    color: white;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
.catalog-thing:hover
{
 background-color: rgb(223, 169, 99);
 cursor: pointer;
}

.shop-icon
{
  margin-left: 20px;
  width: 95px;
  height: 64px;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: 1px solid gray;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 6px 10px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
    border: 1px solid gray;
}



.coffee-buttonforsearch
{
    height: 50px;
    width: 100px;
    text-align: bottom;
    align-items: top;
    border-radius: 10px;
}

.coffee-buttonforsearch:hover
{
    cursor: pointer;
}

body {
    transition: background-color 0.5s ease;
}

button{
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
background-color: white;
border: none;
width: 40px;
height: 40px;
}

.alignforright
{
  text-align: right;
  align-items: right;
  align-self: right;
  align-content: right;
}

.specialcoffee-button1
{
  width: 100px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.specialcoffee-button1:hover
{
  background-color: rgb(255, 119, 119);
}
.specialcoffee-button2
{
  width: 150px;
    height: 20px;
    background-color: orange;
    color: white;
     border-radius: 10px;
}
.specialcoffee-button2:hover
{
  background-color: rgb(247, 202, 118);
}
bold
{
  font-size: 24px;
}

.categoryholder
{
    width: 25%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 0 !important;
    column-gap: 0px;
    row-gap: 00px;
}

.categorydecider
{
  font-size: 12px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: rgb(241, 240, 240);
    color: black;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.categorydecider:hover
{
  cursor: pointer;
}

.categorydecider:active
{
  background-color: orange;
  color: white;
}

.item-card
{
  width: 300px;
  height: 600px;
  align-items: top;
  text-align: center;
}

.item-card:hover
{
  transition: 1s ease;
  transform: scale(1.05);
  box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);
}

.item-card-holder
{
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 0 !important;
    margin-left: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.img-for-item-card
{
  width:  200px;
  height: 300px;
  border-radius: 10px;
}

.cart-button
{
   font-size: 12px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: burlywood;
    color: white;

    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.cart-button:hover
{
  cursor: pointer;
  transition: 0.4s;
  transform: scale(0.95);
}

.portion-holder
{
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin-top: 0 !important;
}
.portion-button
{
  font-size: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgb(241, 240, 240);
    color: black;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
.portion-button:hover
{
  cursor: pointer;
  transition: 0.4s;
  transform: scale(0.95);
}
.portion-button:active
{
  background-color: gray;
}

hr
{
  width: 100%;
 color: rgb(235, 234, 234)
}

.extra-data
{
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    display: grid;
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    padding-inline: var(--theme-page-width-padding, 32px);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 0 !important;
}

.extra-data-content
{
  height: 500px;
  align-items: top;
  text-align: justify;
  border: 1px solid  rgb(241, 240, 240);
  border-radius: 20px;
}

.extra-data-img
{
  width: 100%;
  height: 500px;
  border-radius: 20px;
  object-fit: fill;
}

.extra-data-button
{
    height: 300px;
    padding: 20px;
    border: 1px solid rgb(241, 240, 240);
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}

.extra-data-button:hover
{
  background-color: azure;
}

.extra-data-button img
{
width: 100px;
height: 100px;
}